/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:white;
	--color-background:rgb(32, 29, 29);

}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


body {
	background-color:var(--color-background);
	color:var(--color-text);
}


main ul {
	display: flex;
}



ul ul li {
	display: flex;

}

li{
	list-style-type: none;
}